.collapse-arrow {
  transition: transform 0.3s ease;
}

a[aria-expanded="false"] .collapse-arrow {
  transform: rotate(180deg);
}

#sidebar .nav {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

#sidebar .nav li {
  list-style: none !important;
}
