.collapse-arrow {
  transition: transform 0.3s ease;
}

a[aria-expanded="false"] .collapse-arrow {
  transform: rotate(180deg);
}

#sidebar ul, #sidebar li {
  list-style: none !important;
  padding-left: 0;
}
